* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* body {
  padding: 200px;
  padding-top: 10px;
} */

a {
  text-decoration: none;
}

.movie-menu {
  padding: 10px 200px 0 200px;
  border: 1px solid black;
}

.logo {
  margin-top: 4px;
}

.logo img {
  border: 1px solid black;
}

.top-header-wrapper,
.bottom-nav-wrapper {
  display: flex;
  width: 100%;
  height: 55px;
  justify-content: space-between;
}

.top-header-wrapper {
  font-size: small;
}

.bottom-nav-wrapper {
  margin-top: -20px;
  margin-bottom: -10px;
}

.left-list a,
.right-list a {
  margin-right: 15px;
}

.left-nav,
.right-nav {
  position: relative;
}

.left-nav-ul li,
.right-nav-ul li {
  float: left;
  margin-right: 20px;
}

.left-nav-item,
.right-nav-item {
  position: relative;
  display: inline-block;
}

.left-nav-item i,
.right-nav-item i {
  font-size: 20px;
}

.movies__movie,
.bookings__booking,
.theathers_theather,
.events__event,
.services__service {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 500px;
  border: 1px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.events__event,
.services__service {
  left: -500px;
}

.left-nav-item:hover .movies__movie {
  display: block;
}

.left-nav-item:hover .bookings__booking {
  display: block;
}

.left-nav-item:hover .theathers_theather {
  display: block;
}

.right-nav-item:hover .events__event {
  display: block;
}

.right-nav-item:hover .services__service {
  display: block;
}
